<ActionBar [title]="actionBar()" class="actionbar">
</ActionBar>
<GridLayout rows="auto,3*,auto,*" columns="*" (loaded)="onPageLoaded()">
  <GridLayout rows="*" columns="*">
    <Progress [value]="progressValue" (loaded)="onProgressLoaded($event)" style="z-index: 1;" maxValue="100"></Progress>
    <Progress [value]="progressValue" (loaded)="onProgressLoaded($event)" style="z-index: 0;margin-top: 8;" maxValue="100"></Progress>
  </GridLayout>
  <StackLayout row="0" style="z-index: 0;">
  </StackLayout>
  <GridLayout row="1" (swipe)="onSwipe($event)" rows="auto" backgroundColor="#efefef" style="margin-top: -6 ;z-index:1;padding-top:12;padding-left:12; padding-right:12;">
    <FlexboxLayout flexWrap="wrap">
      <Button [shadow]="buttonShadow" *ngFor="let item of currentBadgesList; let i = index; let last = last;" [text]="&nbsp;&nbsp;&nbsp;item.title&nbsp;&nbsp;&nbsp;"
        [@state]="stateAnimate" class="{{ item.selected ? 'badgeButtonSelected' : 'badgeButton' }}" id="item.id+'id'" (tap)="onBadgeTap(item.id)"></Button>
    </FlexboxLayout>
  </GridLayout>

  <GridLayout rows="auto" columns="*" row="2" backgroundColor="#efefef">
    <!-- *ngIf="isDot(item)"  -->
    <Label text="&#xE3A6;" *ngIf="isDot()" class="mdiBottomBarIcons dotColor" row="0" style="color:#db7e57;font-size:5;text-align:center;vertical-align: top; margin-bottom:15;"></Label>
    <StackLayout style="padding-left:12; padding-right:12;">
      <RadListView #myRadListView [items]="tabsItemArray" (scrolled)="onScrolled($event)">
        <ng-template tkListItemTemplate let-item="item">
          <StackLayout style="margin-left:10;margin-right:10" #tabItem (tap)="tabItemTap(item.id)">
            <GridLayout rows="auto,auto,auto" columns="*">
              <Label text="&#xE876;"  [visibility]="item.completed ? 'visible' : 'hidden'" style="color:#db7e57;font-size:15;text-align:center;vertical-align: bottom;" class="mdiBottomBarIcons dotColor" row="0"  textWrap="false"></Label>
              <Label [text]="item.name" horizontalAlignment="center" row="1" style="padding-bottom:2;font-size: 12;" class="{{ isCurrent(item) ? 'black' : 'opacityColor' }}"></Label>
              <StackLayout row="2" [visibility]="item.badgesData ? 'visible' : 'collapsed'" orientation="horizontal" class="{{ isCurrent(item) ? 'lineBackground' : 'lineBackground opacityColor' }}">
                <Label text="&nbsp;" height="2"></Label>
              </StackLayout>
            </GridLayout>
          </StackLayout>
        </ng-template>
        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemWidth="80"></ListViewLinearLayout>
      </RadListView>
    </StackLayout>
  </GridLayout>

  <GridLayout rows="auto,*" columns="*" row="3" backgroundColor="white">
    <Button row="0" text="Next" width="40%" horizontalAlignment="center" style="margin-top:25%;" height="35%" class="nextButton"
      (tap)="onClickNext(tabItem)"></Button>
    <Image row="1" verticalAlignment="bottom" src="res://cutmypic"></Image>

  </GridLayout>
</GridLayout>