.actionbar
{
    background-color:white;
}


.notActive
{
    background-color: #edbfab;
    color:#edbfab;
}
.active
{
    background-color: #db7e57;
    color:#db7e57;
}
.opacityColor
{
    opacity: 0.5;
}


.nextButton
{
    border-width:2;
    border-color: #f1971f;
    color: #f1971f;
    border-radius: 30%;
}

.badgeButton
{
    border-radius: 25%;
    background-color: white;
    margin:3;
    font-size: 12;
    height: 40;
}

.badgeButtonSelected
{
    border-radius: 25%;
    background-color: #771fc6;
    color:white;
    margin:3;
    font-size: 12;
    height: 40;
}
.badgeButtonForLabel
{
    border-radius: 25%;
    background-color: white;
    color:black;
    margin:3;
    font-size: 12;
    height: 40;
    width:auto;
    padding-left: 10;
    padding-right: 10;
    text-align: center;
    vertical-align: middle;

}

.lineBackground
{
     background-color: #db7e57;
     height:2;
}

.dotColor
{
     color: #db7e57;
}

ActionBar {
    border-width: 1;
    border-color: transparent;
}

.black
{
    color: black;
}